<launch>

  <arg name="player_name"/>
  <arg name="x_pos"/> 
  <arg name="y_pos"/> 
  <arg name="z_pos"/> 

  <group ns= "$(arg player_name)">
    	<param name="tf_prefix" value="$(arg player_name)" />
    	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg player_name)
    	 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  </group>
</launch>
